<div class="map">
  <div for="map-select">Sélectionnez une map</div>
  &nbsp;
  <select
    id="hero-select"
    [(ngModel)]="mapSelected"
    (change)="onMapSelected(mapSelected)"
  >
    <option *ngFor="let map of maps" [value]="map.name">{{ map.name }}</option>
  </select>
</div>

<app-heroes-selected
  [heroesAlie]="heroesAlie"
  [heroesAdversaire]="heroesAdversaire"
></app-heroes-selected>

<app-heroes
  [heroes]="heroes"
  (myEventAlieSelected)="myEventAlieSelected($event)"
  (myEventAdversaireSelected)="myEventAdversaireSelected($event)"
></app-heroes>
