<div class="hero-container">
  <div class="colonne">
    <h3>Aliés</h3>
    <div class="hero-card" *ngFor="let hero of heroes | sortName:'name'">
      <div>
        <input type="checkbox" [(ngModel)]="hero.selectedAlie" (change)="onAlieSelected(hero)" />
        <span *ngIf="hero.role === 'tank'" class="blue"><i class="fas fa-shield-alt"></i> {{ hero.name | firstLetterUpperCase }}</span>
        <span *ngIf="hero.role === 'assassin'" class="red"><i class="fas fa-crosshairs"></i> {{ hero.name | firstLetterUpperCase
          }}</span>
        <span *ngIf="hero.role === 'heal'" class="green">
          <i class="far fa-plus-square"></i> {{ hero.name | firstLetterUpperCase }}</span>
        <span *ngIf="hero.role === 'bruiser'" class="purple">
          <i class="fas fa-fist-raised"></i> {{ hero.name | firstLetterUpperCase }}</span>
        <button class="button-small" (click)="hero.showDetails = !hero.showDetails">
          détails
        </button>
        ban<input type="checkbox" [(ngModel)]="hero.banned" (change)="onAlieBanned(hero)" />
      </div>
      <div *ngIf="hero.showDetails">
        <app-hero-details [hero]="hero"></app-hero-details>
      </div>
    </div>
  </div>

  <div class="colonne" style="overflow: hidden;">
    <div class="suggestion" style="margin-bottom: 16px;">
      <h3>Heros suggérés</h3>
      <div class="hero-card" *ngFor="let hero of heroesSuggested | sortBy : 'value' : true">
        <div class="hero-suggested" [style.font-size]="hero.value * 2 - 4 + 'px'">
          <span *ngIf="hero.role === 'tank'" class="blue"><i class="fas fa-shield-alt"></i> {{ hero.name | firstLetterUpperCase }}</span>
          <span *ngIf="hero.role === 'assassin'" class="red"><i class="fas fa-crosshairs"></i> {{ hero.name | firstLetterUpperCase
            }}</span>
          <span *ngIf="hero.role === 'heal'" class="green">
            <i class="far fa-plus-square"></i> {{ hero.name | firstLetterUpperCase }}</span>
          <span *ngIf="hero.role === 'bruiser'" class="purple">
            <i class="fas fa-fist-raised"></i> {{ hero.name | firstLetterUpperCase }}</span>
          <b> {{ hero.value }} </b>
        </div>
      </div>
    </div>
    <div></div>
    <div class="suggestion">
      <h3>Ban suggérés</h3>
      <div class="hero-card" *ngFor="let hero of bansSuggested | sortBy : 'value' : true">
        <div class="hero-suggested" [style.font-size]="hero.value * 2 - 4 +  'px'">
          <span *ngIf="hero.role === 'tank'" class="blue"><i class="fas fa-shield-alt"></i> {{ hero.name | firstLetterUpperCase }}</span>
          <span *ngIf="hero.role === 'assassin'" class="red"><i class="fas fa-crosshairs"></i> {{ hero.name | firstLetterUpperCase
            }}</span>
          <span *ngIf="hero.role === 'heal'" class="green">
            <i class="far fa-plus-square"></i> {{ hero.name | firstLetterUpperCase }}</span>
          <span *ngIf="hero.role === 'bruiser'" class="purple">
            <i class="fas fa-fist-raised"></i> {{ hero.name | firstLetterUpperCase }}</span>
          <b> {{ hero.value }} </b>
        </div>
      </div>
    </div>
  </div>

  <div class="colonne">
    <h3>Adversaires</h3>
    <div class="hero-card" *ngFor="let hero of heroes | sortName:'name'">
      <div>
        <input type="checkbox" [(ngModel)]="hero.selectedAdversaire" (change)="onAdversaireSelected(hero)" />
        <span *ngIf="hero.role === 'tank'" class="blue"><i class="fas fa-shield-alt"></i> {{ hero.name | firstLetterUpperCase }}</span>
        <span *ngIf="hero.role === 'assassin'" class="red"><i class="fas fa-crosshairs"></i> {{ hero.name | firstLetterUpperCase
          }}</span>
        <span *ngIf="hero.role === 'heal'" class="green">
          <i class="far fa-plus-square"></i> {{ hero.name | firstLetterUpperCase }}</span>
        <span *ngIf="hero.role === 'bruiser'" class="purple">
          <i class="fas fa-fist-raised"></i> {{ hero.name | firstLetterUpperCase }}</span>
        <button class="button-small" (click)="hero.showDetailsAdversaire = !hero.showDetailsAdversaire">
          détails
        </button>
        ban<input type="checkbox" [(ngModel)]="hero.banned" (change)="onAdversaireBanned(hero)" />
      </div>

      <div *ngIf="hero.showDetailsAdversaire">
        <app-hero-details [hero]="hero"></app-hero-details>
      </div>
    </div>
  </div>
</div>